---
import Layout from '../layouts/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="About | Matt Carey" description="AI Engineer & Community Builder.">
  <Sidebar />
  <main class="flex-auto min-w-0 mt-6 md:mt-0 flex flex-col px-2 md:px-0">
    <section>
      <h1 class="font-bold text-3xl font-serif">About Me</h1>
      <div class="my-5 prose prose-neutral text-neutral-800 dark:text-neutral-200">
        <p>
          I am a Founding Engineer at{" "}
          <a
            href="https://stackone.com"
            class="my-5 prose prose-neutral text-neutral-800 dark:text-neutral-200"
          >
            StackOne
          </a>{" "}
          building data integration tools for AI agents. I also organise the
          GenAI London Meetup and am a Co-Founder of GenAI Days - a global
          collective of AI enthusiasts.
        </p>
      </div>
      <div class="prose prose-neutral dark:prose-invert text-neutral-800 dark:text-neutral-200">
        <p>
          Previously I spent time in consultancy building scalable event-driven
          applications for startups and enterprises on AWS. I continue to
          organize the Serverless London Meetup.
        </p>
        <hr />
        <p>
          I retired from a short professional windsurfing career in December
          2020. Since then I have worked as a performance coach for junior and
          youth-age and olympic level athletes wanting to make waves on the
          international stage.
        </p>
        <p>
          Outside of tech and sport, I'm an advocate for sustainability and the
          plant-based movement.
        </p>
        <hr />
      </div>
      <Footer />
    </section>
  </main>
</Layout>