---
import Layout from "../layouts/Layout.astro";
import Sidebar from "../components/Sidebar.astro";
import Icon from "../components/icons.astro";
---

<Layout title="Matt Carey">
  <Sidebar />
  <main class="flex-auto min-w-0 mt-6 md:mt-0 flex flex-col px-2 md:px-0">
    <section>
      <h1 class="font-bold text-3xl font-serif">Matt Carey</h1>
      <p class="my-5 max-w-[460px] text-neutral-800 dark:text-neutral-200">
        Hey I'm Matt, welcome to my website.
      </p>
      <div class="flex items-start md:items-center my-8 flex-col md:flex-row">
        <img
          alt="Matt Carey"
          class="rounded-full grayscale"
          src="/avatar.jpg"
          width="100"
          height="100"
        />
      </div>
      <ul
        class="flex flex-col md:flex-row mt-8 space-x-0 md:space-x-4 space-y-2 md:space-y-0 font-sm text-neutral-500 dark:text-neutral-400"
      >
        <li>
          <a
            class="flex items-center hover:text-neutral-700 dark:hover:text-neutral-200 transition-all"
            rel="noopener noreferrer"
            target="_blank"
            href="https://bsky.app/profile/mattzcarey.com"
          >
            <Icon name="arrow" />
            <p class="h-7">follow me on bluesky</p>
          </a>
        </li>
      </ul>
      <ul
        class="flex flex-col md:flex-row mt-8 space-x-0 md:space-x-4 space-y-2 md:space-y-0 font-sm text-neutral-500 dark:text-neutral-400"
      >
        <li>
          <a
            class="flex items-center hover:text-neutral-700 dark:hover:text-neutral-200 transition-all"
            rel="noopener noreferrer"
            target="_blank"
            href="https://www.linkedin.com/in/mattzcarey/"
          >
            <Icon name="arrow" />
            <p class="h-7">connect on linkedin</p>
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
