---
const navItems = {
  "/": { name: "home" },
  "/about": { name: "about" },
  "/projects": { name: "projects" },
  "/community": { name: "community" },
  "/blog": { name: "blog" },
};

let pathname = Astro.url.pathname;
if (pathname.includes("/blog/")) {
  pathname = "/blog";
}
---

<aside class="md:w-[150px] md:flex-shrink-0 -mx-4 md:mx-0 md:px-0 font-serif">
  <div class="lg:sticky lg:top-20">
    <nav
      class="flex flex-row md:flex-col items-start relative px-4 md:px-0 pb-0 fade md:overflow-auto scroll-pr-6 md:relative"
      id="nav"
    >
      <div class="flex flex-row md:flex-col space-x-0 pr-10 mb-2 mt-2 md:mt-0">
        {Object.entries(navItems).map(([path, { name }]) => {
          const isActive = path === pathname;
          return (
            <a
              href={path}
              class={`transition-all hover:text-neutral-800 dark:hover:text-neutral-200 flex align-middle ${
                isActive ? 'font-bold' : 'text-neutral-500'
              }`}
            >
              <span class={`relative py-[5px] px-[10px] ${isActive ? 'bg-neutral-100 dark:bg-neutral-800 rounded-md' : ''}`}>
                {name}
              </span>
            </a>
          );
        })}
      </div>
    </nav>
  </div>
</aside>